<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  <title>Enlightened</title>
</head>
<body>
  <div class="page-header" align=center>
    <h1> Tokyo was captured by Enlightened </h1>
  </div>

  <div class="container" align=center>
    <div class="row">
      <div class="col-md-6"><img src="https://dl.dropboxusercontent.com/u/199559/ingress/tokyo1.jpg" width="400" /></div>
      <div class="col-md-6"><img src="https://dl.dropboxusercontent.com/u/199559/ingress/tokyo2.jpg" width="400" /></div>
    </div>
  </div>
</body>
</html>
